.root {
  position: absolute;
  inset: 0;
  overflow: hidden;
  contain: strict;
  background: #000b1e;
}

.canvas {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transform-origin: top left;
  will-change: transform;
}
